* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  width: 960px;
}

.navigation-bar {
  height: 180px;
}

#menuContainer main {
  margin-bottom: 50px;
}

#menuContainer h2 {
  margin: 0;
}

#menuContainer h4 {
  margin-left: 10px;
}

#menuContainer p {
  /* text-indent: 50px; */
  margin: 5px;
}

#flavors {
  column-width: 300px;
  height: 1490px;
  list-style-type: none;
}


.image {
  margin: 20px;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.divClass {
  position: relative;
}

.descriptionClass {
  display: none;
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 25px;
  color: black;
  font-weight: bold;
  font-size:14px;
  width: 290px;
  height: 290px;
  font-family: Arial, Helvetica, sans-serif;
  
  text-align: center;
}

#flavors li input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  padding: 5px 10px;
  float: right;
  margin-right: 120px;
  margin-top: -25px;
  border-radius: 8px;
}

#flavors li input:hover {
  background-color: gray; /* Green */
  color: white;
  border: 2px solid #e7e7e7;
}

section {
  margin-bottom: 200px;
}

#checkout {
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  padding: 5px 10px;
  float: right;
  border-radius: 8px;
  padding: 15px;
  margin-top: 100px;
}

footer {
  margin-top: 100px;
}